#main-header {
    font-size: 1.5em;  
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: -10px;
}
 
  .body1 {
    position:absolute;
    top:12%;
    text-align:center;
    align-content: left;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:aliceblue ;
  }

  .form-header{
    margin-left: 170px;    
  }

  .form1 {
    float: left;
    width: 45%;
    padding-bottom: 0px;
    padding-top: -20px;
    
}

.form1 p, .form2 p {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 15px; 
}

.form1 p {
    margin-left: 50px;
}

.form2 p {
    margin-left: 110px;
}

.body1 input, 
.body1 textarea, 
.body1 select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;
    outline: none; 
    transition: border 0.3s ease-in-out;
}

.body1 input:focus, textarea:focus {
    border: 1px solid #1d6bb4e6; 
}

.body1 textarea {
    resize: none; 
    height: 65px; 
    width: 250px;
    font-size: 14px;
}

.body1 input {
    width: 250px;
}

.body1 select {
    width: 230px;
}

.body1 input, .body1 textarea, 
.body1 select, .body1 button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.body1 button {
    background-color: #71cfee;
    color: black;    
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.body1 button:hover {
    background-color: #52899e; 
}