#main-header {
    font-size: 1.5em;  
    font-weight: bold;
    text-align: left;
    margin-top: 10px;
    margin-left: 40px;
    margin-bottom: -10px;
}
 
  .body1 {
    position:absolute;
    top:12%;
    text-align:center;
    align-content: left;
    margin-left:auto;
    margin-right:auto;
    width:100%;
    background-color:aliceblue ;
  }

  .form-header{
    margin-left: 170px;
    color: #007FFF;
    font-size: 24px;
    font-weight: bold;    
  }

  .form1 {
    float: left;
    padding-bottom: 0px;    
    width: 550px;
    margin-left: 150px;
    margin-top: 20px;
    margin-bottom: 10px;        
}

.form2 {
    width: 600px;        
    float: left;     
    margin-left: 100px;
    margin-right: 70px;
    margin-top: 20px;
  }

.form1, .form2 {
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #007FFF;
}

.form1 p, .form2 p {
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    margin-bottom: 15px; 
}

.form1 label,
.form2 label {
  font-weight: bold;  
  font-size: 16px;
  color: #007FFF;
}

.form1 p {
    margin-left: -50px;
}

.form1 h2 {
    margin-left: 5px;
}

.form2 p {
    margin-left: -10px;
}

.form2 h2 {
    margin-left: 25px;
}

.body1 input, 
.body1 textarea, 
.body1 select {
    width: 100%; 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px; 
    font-size: 16px;    
    outline: none; 
    transition: border 0.3s ease-in-out;
    background-color: rgba(99, 181, 214, 0.103);
}

.body1 input:focus, textarea:focus {
    border: 1px solid #007FFF;; 
}

.body1 textarea {
    resize: none; 
    height: 65px; 
    width: 250px;
    font-size: 16px;
}

.body1 input {
    width: 250px;
}

.body1 select {
    width: 270px;
    scrollbar-width: thin;
    scrollbar-color: #007FFF rgba(99, 181, 214, 0.103)
}

.body1 input, .body1 textarea, 
.body1 select, .body1 button {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.body1 button {
    background-color: #71cfee;
    color: black;    
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    display: block;
    margin-left: 60px;
}

.body1 button:hover {
    background-color: #52899e; 
}