
.login_container {
  text-align:center;
  width: 80%;
  margin: 60px auto;
  background: white;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px solid #007FFF;
}

  #body_div {
    position:absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    top:30%;
    left: 25%;
    text-align:center;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height: 40%;
    border: 2px solid #007FFF;
    border-radius: 30px;
    background:white;
  }

  #login_h1 {
    position:relative;
    top: -10%;
    font-weight: bold;
    color:#007FFF;
  }

  form {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    width: 30%;
  }

  form[id="login_form"] {
    position:relative;
    top:-15%;
  }

  label {
    text-align: right;
    float: left;
    clear: left;
  }

  label[for="password_log"], label[for="username_log"], input[for="username_log"], input[for="password_log"] {
    position:relative;
    top:-15%;
  }

  input[type=text], input[type=email], input[type=password] {
    float: right;
    border: 1px solid black;
    border-radius: 5px;
  }

  input[type=submit][value="Login"] {
    float:none;
    position: absolute;
    align-content:center;
    bottom: -40px;
    border-radius: 5px;
  }

  p[id="register_msg"] {
    float:none;
    position: absolute;
    text-align:center;
    width:100%;
    bottom: 0%;
  }

  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    background-color: lightgoldenrodyellow;
  }
  
  #login_button_log, #register_button_log {
    color: black;
    position: fixed;
    top:3%;
    border: 2px blue solid;
    width: 85px;
    height: 40px;
    font-size: 15px;
    z-index: 3001;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    text-align:center;
    align-content:center;
  }

  #login_button_log {
    right:10%;
  }
  
  #register_button_log {
    right:2.5%;
  }