#header_div_register {
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 3000;
    font-size: 30pt;
    align-content: center;
    text-align:center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
  }
  
  #footer_div {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 10%;
    position: fixed;
    z-index: 3000;
    background: linear-gradient(aqua, #007FFF);
  }

  #body_div_reg {
    position:absolute;
    top:30%;
    left:25%;
    text-align:center;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height: 47.5%;
    border: 2px solid #007FFF;
    border-radius: 30px;
    background:white;
  }

  form[id="register_form"] {
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    width: 30%;
    position: relative;
    top: -10%;
  }

  label {
    position: relative;
    text-align: right;
    float: left;
    clear: left;
  }

  input[type=text], input[type=email], input[type=password] {
    position: relative;
    top:25%;
    float: left;
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 100%;
    padding: 10px;
    outline:none;
    transition: border 0.3s ease-in-out;
  }

  input[type=text]:focus, input[type=email]:focus, input[type=password]:focus {
    border: 1px solid #007bff;
  }

  button[type=submit][value="Register"][id="register_button"] {
    float:none;
    position: relative;
    align-content:center;
    top:20px;
    width:50%;
    font-size:15px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  input[type=text],input[type=email],input[type=password],button[id="register_button"] {
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
  }

  #login_button_reg, #register_button_reg {
    color: black;
    position: fixed;
    top:3%;
    border: 2px blue solid;
    width: 85px;
    height: 40px;
    font-size: 15px;
    z-index: 3001;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: aqua;
    text-align:center;
    align-content:center;
  }

  #login_button_reg {
    right:10%;
  }
  
  #register_button_reg {
    right:2.5%;
  }


  #register_h1 {
    color: #007FFF;
  }