.rpassword_container {
    text-align:center;
    width: 80%;
    margin: 60px auto;
    background: white;
    border-radius: 12px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #007FFF;
  }

  div[classname="rpassword-container"] div[id="body_div"] {
    position:absolute;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    top:30%;
    left: 25%;
    text-align:center;
    align-content: center;
    margin-left:auto;
    margin-right:auto;
    width:50%;
    height: 47.5%;
    border: 2px solid #007FFF;
    border-radius: 30px;
    background:white;
  }

  #reset_h1 {
    position:relative;
    font-weight: bold;
    color:#007FFF;
  }

  form[id="reset_form"] {
    text-align: center;
    width:100%;
    position:relative;
    margin-left:auto;
    margin-right:auto;
    align-content: center;
    width: 30%;
    position:relative;
    top:-5%;
  }

  form[id="reset_form"] p label {
    text-align: right;
    float: left;
    clear: left;
    font-weight: bold;
    color: #007FFF;
  }

  form[id="reset_form"] p button[type=submit][value="Reset Password"] {
    float:none;
    position: relative;
    align-content:center;
    bottom: -15px;
    width:100%;
    left:10px;
    background-color: #007FFF;
    color:white;
    font-size:1rem;
    font-weight:bold;
    border:1px solid #ccc;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
  }